<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495600762325-6rcdr083fvnldgn77iobejn51e2vd681.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495600762325-6rcdr083fvnldgn77iobejn51e2vd681</string>
	<key>API_KEY</key>
	<string>AIzaSyCZp6XRVpAUx6nJtaLK8u7d9NQ6JYU7S5w</string>
	<key>GCM_SENDER_ID</key>
	<string>495600762325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a302.areastory</string>
	<key>PROJECT_ID</key>
	<string>areastory-c6f82</string>
	<key>STORAGE_BUCKET</key>
	<string>areastory-c6f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495600762325:ios:3bb2f09826ccc3da2b915c</string>
</dict>
</plist>